*.DS_Store
*.zip
tools/.coverage

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc
*.pyo
*.pyd

# Distribution / packaging
*.whl
*.egg-info/
dist/
build/
eggs/
.eggs/

# Virtual environments
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
